@import './reboot';
@import './colors';
@import './icons';
@import './material-theme';
@import './typo';

body{
  background-color: $color-background;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.clickable{
  cursor: pointer;
}

